/_pycache_
/.pytest_cache
/.vscode
/jesse.egg-info
/.idea
Backend/storage/*.key
Backend/storage/*.sqlite
Backend/storage/*.gz
.DS_Store
/.vagrant
Backend/storage/temp/*.pickle
Backend/storage/trades/*.json
Backend/storage/trading-view-pine-editor/*.txt
Backend/storage/temp/optimize/*.pickle
Backend/storage/orders/*.json
Backend/storage/logs/trades/*.json
Backend/storage/logs/collect.txt
Backend/storage/logs/optimize.txt
Backend/storage/logs/live-trade.txt
Backend/storage/logs/paper-trade.txt
Backend/storage/genetics/*.txt
Backend/storage/csv/*.csv
Backend/storage/json/*.json
Backend/storage/charts/*.png
Backend/storage/full-reports/*.html
*.pyc
/__pycache__
/venv
storage/logs/collect.txt
__pycache__
.vscode
/.ipynb_checkpoints
config.py
live-config.py
routes.py
.env

#################mine
trading-view-pine-editor/
/venv