/_pycache_
/.pytest_cache
/.vscode
/jesse.egg-info
/.idea
live_backend/Testing/storage/*.key
live_backend/Testing/storage/*.sqlite
live_backend/Testing/storage/*.gz
.DS_Store
/.vagrant
live_backend/Testing/new_archive
live_backend/Testing/archive
live_backend/Testing/storage/temp/*.pickle
live_backend/Testing/storage/trades/*.json
live_backend/Testing/storage/trading-view-pine-editor/*.txt
live_backend/Testing/storage/temp/optimize/*.pickle
live_backend/Testing/storage/orders/*.json
live_backend/Testing/storage/logs/trades/*.json
live_backend/Testing/storage/logs/collect.txt
live_backend/Testing/storage/logs/optimize.txt
live_backend/Testing/storage/logs/live-trade.txt
live_backend/Testing/storage/logs/paper-trade.txt
live_backend/Testing/storage/genetics/*.txt
live_backend/Testing/storage/csv/*.csv
live_backend/Testing/storage/json/*.json
live_backend/Testing/storage/charts/*.png
live_backend/Testing/storage/full-reports/*.html

*.pyc
/__pycache__
/venv
storage/logs/collect.txt
__pycache__
.vscode
/.ipynb_checkpoints
config.py
live-config.py
routes.py
.env

#################mine
/venv

live_backend/Testing/storage/logs/*.txt
